h1 {
  padding-top: 15px;
}

ul {
  padding-top: 35px;
}

#java-script{
  display:none;
}

#operators{
  display:none;
}

#variables{
  display:none;
}
#naming-convents{
  display:none;
}
#functions{
  display:none;
}
#methods{
  display:none;
}
#argument{
  display:none;
}
#parameters{
  display:none;
}
#return{
  display:none;
}
#chaining{
  display:none;
}
#strings{
  display:none;
}
#booleans{
  display:none;
}
#undefined{
  display:none;
}
#nan{
  display:none;
}
#escape{
  display:none;
}
#alert{
  display:none;
}
#comments{
  display:none;
}
#jquery{
  display:none;
}
#attributes{
  display:none;
}

#java-script1
#operators1
#variables1
#naming-convents1
#functions1
#methods1
#argument1
#parameters1
#return1
#chaining1
#strings1
#booleans1
#undefined1
#nan1
#escape1
#alert1
#comments1
#jquery1
#attributes1
